.homepage {
  color: var(--color-neutral-lightest);
  padding: 8px 12px;

  .content {
    background-color: var(--color-neutral-darkest);
    border: 1px solid hsla(0, 0%, 100%, 0.1);
    border-radius: 6px;
    padding: 12px 16px;

    .refresh {
      background-color: var(--color-main-dark);
      border: 0;
      border-radius: 4px;
      color: var(--color-neutral-lightest);
      padding: 8px 16px;
      margin: 12px 0;
      width: fit-content;
      align-self: flex-end;
      transition: all ease 0.3s;

      &:hover {
        cursor: pointer;
        scale: 1.05;
        transition: all ease 0.3s;
      }
    }

    .test {
      width: 100%;
      height: 180px;
      background-color: #777;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .rankingContainer {
    display: flex;
    flex-direction: column;
  }

  .topPlayers {
    margin-bottom: 16px;

    > div:not(:last-of-type) {
      margin: 0 0 16px 0;
    }
  }
}

.first {
  > div > p {
    color: #dfb32c !important;
  }
}

.second {
  > div > p {
    color: #acb9c2 !important;
  }
}

.third {
  > div > p {
    color: #e57424 !important;
  }
}

@media only screen and (min-width: 1024px) {
  .homepage {
    padding: 60px 12px;

    .content {
      max-width: 1024px;
      margin: 0 auto;
    }

    .topPlayers {
      display: flex;
      justify-content: space-between;

      > div {
        max-width: 32%;
      }

      > div:not(:last-of-type) {
        margin: 0;
      }
    }
  }
}
