:root {
  --color-neutral-darkest: #0d0f10;
  --color-neutral-darker: #131619;
  --color-neutral-dark: #18191c;
  --color-neutral-medium: #918b8b;
  --color-neutral-light: #c2c5be;
  --color-neutral-lighter: #cdcecf;
  --color-neutral-lightest: #e8e9e9;

  --color-purple: #00cc00;
  --color-yellow: #ffcc00;
  --color-blue-light: #82daee;
  --color-purple-light: #ced4e4;
  --color-warning: #cc0000;
}
