.top {
  position: relative;
  z-index: 100;
  background-color: var(--color-neutral-darkest);

  .container {
    padding: 0 16px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.bottom {
  position: relative;
  z-index: 100;
  padding: 0 16px;
  border-top: 2px solid var(--color-neutral-dark);
  height: 60px;
  background-color: var(--color-neutral-darkest);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  border-radius: 0 0 8px 8px;
  border: 1px solid hsla(0, 0%, 100%, 0.1);

  .searchBarContainer {
    height: 36px;
    width: 100%;
    margin-right: 12px;
  }
}

.logoContainer {
  width: 130px;
  height: 40px;
  position: relative;
}

.btnsContainer {
  display: flex;
  align-items: center;
  height: 24px;

  button:not(:last-of-type) {
    margin-right: 8px;
  }
}

@media only screen and (min-width: 1024px) {
  .top {
    height: 80px;
    position: sticky;
    top: 0;

    border: 1px solid hsla(0, 0%, 100%, 0.1);

    .container {
      padding: 0;
      margin: 0 auto;
      height: 100%;
      justify-content: space-between;
      max-width: 1024px;
      padding: 0 16px;
    }

    .searchBarContainer {
      width: 400px;
      height: 36px;
      border-radius: 12px;
      overflow: hidden;
      position: absolute;
      left: 50%;
      transform: translatex(-50%);
    }
  }

  .bottom {
    display: none;
  }

  .logoContainer {
    width: 166px;
    height: 51px;
    position: relative;
  }
}
